:root {
  --primary-color: #465945; /* プライマリカラー */
  --secondary-color: #fffff0; /* セカンダリカラー */
  --accent-color: #7b8d42; /* アクセントカラー */
  --dark-color: #264653; /* ダークカラー */
  --light-color: #e1e1d2; /* ライトカラー */
  --text-color: #333; /* テキストカラー */
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--text-color);
  background-color: var(--light-color);
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: #fff;
    --light-color: #333;
  }

  html {
    color-scheme: dark;
  }

  body {
    background-color: var(--secondary-color);
  }
}
