.column {
  width: 100%;
}

.column h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.articleList {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row; /* liタグを横に並べる */
  gap: 20px; /* liタグ間のスペースを追加 */
}

.articleList li {
  width: calc(100% / 3);
  position: relative; /* 高さを設定するために必要 */
}

.articleList li::before {
  content: '';
  display: block;
  padding-top: 130%; /* 幅に基づいて高さを設定 */
}

.articleLink {
  text-decoration: none;
  color: inherit;
}

.article {
  position: absolute; /* 親要素の高さに合わせるために必要 */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 2px solid var(--primary-color);
  border-radius: 8px;
  padding: 1rem;
  transition:
    transform 0.3s,
    box-shadow 0.3s;
}

.article:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.thumbnail {
  width: 100%;
  height: 60%;
  object-fit: fill;
  margin-bottom: 10px;
  transition: transform 0.3s;
}

.article:hover .thumbnail {
  transform: scale(1.1);
}

.articleContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 2px solid var(--primary-color);
}

.date {
  font-size: 0.8em;
  color: var(--text-secondary-color);
  margin-bottom: 5px;
}

.tags {
  display: flex;
  gap: 5px;
  margin-bottom: 5px;
}

.tag {
  background-color: var(--primary-color);
  color: white;
  padding: 2px 5px;
  border-radius: 3px;
  font-size: 0.8em;
}

.title {
  text-decoration: none;
  color: var(--text-main-color);
  font-size: 1em;
}

.title:hover {
  text-decoration: underline;
}

/* 1920px以上の場合に5つの記事を表示 */
@media (min-width: 1920px) {
  .articleList li {
    width: calc(100% / 5);
  }
}

.moreLink {
  display: block;
  margin-top: 20px;
  text-align: right;
  color: var(--primary-color);
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}

.moreLink:hover {
  text-decoration: underline;
}
