.section {
  min-height: 100vh;
  height: auto;
  overflow: hidden; /* 親要素の幅を超えないようにする */
}

.sectionInner {
  width: 84%;
  margin: 0 auto;
  padding: 40px 0;
  box-sizing: border-box;
}

.sectionTitle {
  margin-bottom: 1rem;
  color: var(--text-main-color);
}
