.hamburgerButton {
  position: fixed;
  top: 4%;
  right: 4%;
  width: 56px;
  height: 56px;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--secondary-color);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.hamburgerIcon {
  width: 28px;
  height: 2px;
  background-color: var(--text-color);
  position: relative;
  border-radius: 4px;
}

.hamburgerIcon::before,
.hamburgerIcon::after {
  content: "";
  width: 28px;
  height: 2px;
  background-color: var(--text-color);
  border-radius: 4px;

  position: absolute;
  left: 0;
}

.hamburgerIcon::before {
  top: -8px;
}

.hamburgerIcon::after {
  top: 8px;
}
