.container {
  margin: 20px;
}

.title {
  font-size: 1.4rem;
  margin-bottom: 20px;
  color: #fff;
  @media (500px <= width) {
    font-size: 2rem;
  }

  @media (800px <= width) {
    font-size: 3rem;
  }
}
