.marqueeContainer {
  white-space: nowrap;
  width: 100%;
  background-color: transparent;
}

.marquee {
  display: inline-block;
  white-space: nowrap;
  animation: marquee linear infinite; /* アニメーションのスピードをさらに遅くする */
}

.marquee span {
  display: inline-block;
  padding-right: 2%; /* 文章同士の距離を5%に設定 */
  color: var(--text-color); /* 文字色を--text-colorに設定 */
  font-size: 5rem; /* 文字サイズを6remに設定 */

  font-weight: bold;
  opacity: 0.1; /* 透明度を10%に設定 */

  @media (1024px <= width) {
    font-size: 7rem; /* 文字サイズを6remに設定 */
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0); /* テキストが右端から始まるように調整 */
  }
  100% {
    transform: translateX(-100%); /* テキストが左端に移動するように調整 */
  }
}
