.menu {
  position: fixed;
  top: 13%; /* ハンバーガーボタンの下に配置 */
  right: 4%;
  padding: 10px;
  z-index: 999;
  transition:
    transform 0.3s ease,
    opacity 0.3s ease;
}

.visible {
  transform: translateY(0);
  opacity: 1;
}

.hidden {
  transform: translateY(-100%);
  opacity: 0;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  margin: 10px 0;
  text-align: right;
}

.menu a {
  text-decoration: none;
  color: #333;
}
